name: "Test"
on:
  pull_request:
  push:
    branches:
      - main
      - staging
      - trying
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: nix-update
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: build
        run: nix build
      - name: Run tests
        # we use 4 extra cores over the 4 cpus, because we are doing a lot of blocking I/O
        run: nix develop -c pytest -n 8 -s .
        env:
          # used by nix-update tests
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
